.app {
  display: flex;
  align-items: stretch;
  font-weight: 300;
  position: relative;
}

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 25%;
  padding: 2rem;
  background: #fff;
  color: #6534ff;
  display: flex;
  max-height: 100%;
  flex-direction: column;
  justify-content: space-between;
}


.header img {
  width: 1.5em;
}

.palindromes  {
  flex: 1 1 0;
  overflow: auto;
  overflow-x: hidden;
}

.palyndromeWrap > * {
  width: 33.333333%;
  height: 10em;
  height: 25vw;
  float: left;
  box-shadow: inset -1px -1px 0 0 hsla(0, 0%, 0%, 0.01);
  transition: .25s;
}

.loadMore {
  font-size: 1.2em;
  text-decoration: none;
  color: inherit;
  padding: 2rem;
  display: block;
}

.loadMore span {
  color: #6534ff;
  background: #fccdd3;
  padding: .5rem;
  margin: -.5rem;
}

.palyndromeWrap[data-transition-state='entering'] > * {
  transform: scale(.5);
}

.palyndromeWrap[data-transition-state='entered'] > * {
  transform: scale(1);
}


.palindromes > div > *:nth-child(even) > * {
  background: hsla(0,0%,0%,.02);
}

.wrapper {
  max-width: 50em;
  margin: auto;
}

.appWithFeedback {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: stretch;
  justify-content: center;
}

.appWithFeedback .app {
  flex: 1 1 0;
  overflow: hidden;
}

.feedbackMsg {
  padding: 0 2rem;
  background: #fccdd3;
  color: #fff;
  font-size: .8em;
  box-shadow: inset 0 -1px 0 0 hsla(0, 0%, 0%, .01);
  max-height: 0;
  transition: .1s;
}

.feedbackMsg[data-transition-state='entered'] {
  max-height: 10em;
  padding: 1rem 2rem;
}
