body {
  font-family: sans-serif;
  background: #6534ff;
  color: #fccdd3;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: subpixel-antialiased;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: inherit;
  font-size: inherit;
}
