.composer {
}

.composer ::placeholder {
	color: #fff;
}

.composer textarea {
	padding: 1rem;
	font-family: inherit;
	border: none;
	font-size: .8em;
	background: #fccdd3;
	height: 10em;
	width: 100%;
	display: block;
	outline: none;
}

.composer footer {
	position: relative;
	padding-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3em;
}

.composer footer:before {
	content: '\0020';
	width: 1px;
	height: 1px;
	border: .5em solid transparent;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	border-top-color: #fccdd3;
}

.composer footer button {
	flex: 0 0 1;
	appearance: none;
	color: #6534ff;
	font-weight: 800;
	background: transparent;
	border: none;
	font-size: .8em;
	padding: .5rem 2rem;
	display: block;
	border-radius: .1em;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 1000em;
}

.composer footer button:active {
	background: #6534ff;
	color: #fff;
}

.composer footer .status {
	flex: 1 1 0;
	font-size: .75em;
	opacity: .5;
}
